body {
    background-color:#2096c5;
}

.header {
    font-size:30pt;
    font-family:'Arial Narrow', 'Arial', 'Sans-Serif';
    background-color: rgb(107, 209, 240);
    border-radius: 25px;
    border: 2px solid black;
    text-align:center;
    letter-spacing:2pt;
}

.information {
    background-color:#ffffff;
    border: 1px solid #000000;
    background-image: url(../images/regal.png);
    background-repeat: repeat;
}

.guessthenumber {
    background-color: rgb(107, 209, 240);
    border-radius: 25px;
    border: 2px solid black;
    text-align:center;
    font-size:20pt;
}

.scorecount {
    background-color: rgb(107, 209, 240);
    border-radius: 25px;
    border: 2px solid black;
}

.crystals {
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
}

.yournumber {
    text-align:center;
    background-color: rgb(107, 209, 240);
    border-radius: 25px;
    border: 2px solid black;
}

.yournumberfont {
    font-size:20pt;
    color:#000000;
}

.vertical-center {

    align-items: center;
  }
